.container {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  margin-right: 12%;
  margin-left: 12%;
  padding-bottom: 120px;
}

.title {
  font-size: 42px;
  margin-bottom: 18px;
}

.content {
  font-size: 20px;
  text-align: justify;
  line-height: 1.5;
}

.hidden {
  opacity: 0;
  filter: blur(2px);
  transition: all 1.5s;
}

.show {
  opacity: 1;
  filter: blur(0);
}

@media screen and (max-width: 900px) {
  .title {
    font-size: 38px;
  }
}
