.App {
  background: linear-gradient(135deg, var(--color-grad2), var(--color-grad1));
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100%;
}

.container {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20%;
}

.description {
  font-size: 18px;
  margin-top: 16px;
  text-align: justify;
  width: 100%;
  line-height: 1.5;
}

.description ul {
  margin-left: 2.5rem;
}

.githubBtn {
  width: min-content;
  background-color: var(--color-trans);
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 0.7rem;
  text-decoration: none;
  border-radius: 0.6rem;
}

.allBtn {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-size: 18px;
  margin-top: 80px;
}

.allBtn:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-allBtn 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-allBtn {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.allBtn:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
