@import "../../vars.css";

.container {
  width: 80%;
  margin-left: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 35px;
}

.credit {
  font-size: 16px;
  font-weight: 100;
}

.social {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  gap: 25px;
}

.social a {
  display: inline-block;
  transition: transform 0.25s ease-in-out;
}

.social a:hover {
  transform: scale(1.25);
}

@media screen and (max-width: 560px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .credit {
    margin-bottom: 20px;
  }
}
